.question {
    text-align: center;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.answer {
    position: relative;
    width: 50%;
    list-style: none;
}

.image {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    border: 3px solid; 
}

.text {
    position: absolute;
    font-weight: bold;
}

.answer:first-child .text {
    bottom: 20px;
    right: 20px;
}
.answer:nth-child(2) .text {
    bottom: 20px;
    left: 20px;
}
.answer:nth-child(3) .text {
    top: 20px;
    right: 20px;
}
.answer:last-child .text {
    top: 20px;
    left: 20px;
}

.answer:first-child {
    color: var(--a);
}
.answer:nth-child(2) {
    color:var(--b);
}
.answer:nth-child(3) {
    color: var(--c);
}
.answer:last-child {
    color: var(--d);
}

.votes {
    display: none;
}

.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-weight: bold;
    font-size: 35vw;
    color: #aaa;
    opacity: 0.4;
    line-height: 0.8em;
}