.question {
    margin-bottom: 10px;
    text-align: center;
    font-size: 4vw;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 0;
}

@media (min-width: 850px ) {
    .answers {
        flex-wrap: nowrap;
    }
}

.answer {
    position: relative;
    width: 50%;
    max-width: 320px;
    list-style: none;
}

.image {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    padding-bottom: 30px;
    border: 4px solid; 
}

.text {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 100%;
    bottom: 20px;
    font-size: 4vw;
}

.answer:first-child {
    color: var(--a);
}
.answer:nth-child(2) {
    color:var(--b);
}
.answer:nth-child(3) {
    color: var(--c);
}
.answer:last-child {
    color: var(--d);
}

.votes {
    display: none;
}

.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-weight: bold;
    opacity: 0.4;
    line-height: 0.8em;
    font-size: min(32vw, 230px);
    color: #aaa;
}

@media (min-width: 850px ) {
    .text {
        font-size: 2vw;
    }
    .letter {
        font-size: 16vw;
        
    }
}
