.votes {
    position: relative;
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
    max-width: 1280px;
    margin: 10px auto 60px auto;
    padding: 0;
    list-style: none;
}

.votes:after {
    content: "";
    width: calc(100% - 20px);
    height: 4px;
    background-color: var(--black);
    position: absolute;
    bottom: -1px;
    left: 10px;
}

.vote {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 25%;
}

.bar {
    width: 16vw;
    transform: scale(1, 2) translate(0px, 0px);
    transform-origin: bottom;
    transition: height 1s ease-in-out;
}

@media (min-width: 850px ) {
    .bar {
        width: 10vw;
    }
}

.vote:first-child .bar {
    background-color: var(--a);
}
.vote:nth-child(2) .bar {
    background-color:var(--b);
}
.vote:nth-child(3) .bar {
    background-color: var(--c);
}
.vote:last-child .bar {
    background-color: var(--d);
}

.number {
    position: absolute;
    bottom: -45px;
    font-size: clamp(28px, 3vw, 36px);
    font-weight: bold;
}

.total {
    position: absolute;
    top: 2vw;
    right: 15px;
    font-size: clamp(14px, 3vw, 30px);
    transform: translate(0, 1em);
    color: white;
}

@media (min-width: 850px ) {
    .total {
        right: 40px;
    }
}
  