.votes {
    display: flex;
    height: calc(100% - 60px);
    margin: 10px 10px 60px 10px;
    padding: 0;
    border-bottom: 3px solid var(--black);
    list-style: none;
}

.vote {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 25%;
}

.bar {
    width: 10vw;
    transition: height 1s ease-in-out;
}

.vote:first-child .bar {
    background-color: var(--a);
}
.vote:nth-child(2) .bar {
    background-color:var(--b);
}
.vote:nth-child(3) .bar {
    background-color: var(--c);
}
.vote:last-child .bar {
    background-color: var(--d);
}

.number {
    position: absolute;
    bottom: 20px;
    font-size: 3vw;
    font-weight: bold;
    bottom: -45px;
}

.total {
    position: absolute;
}